{% extends "base.html" %}
{% block page-title %}Books{% endblock %}
{% block content %}




<body class="main_body">
  <!-- Navbar
       Navbar was taken from  https://getbootstrap.com/docs/4.6/components/navbar/  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'tasks' %}">ABCDE-TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks' %}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manual' %}">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" href="{% url 'books' %}">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User: {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
  <!--Product list
      Product list was taken from https://mdbootstrap.com/docs/standard/extended/product-cards/ -->
  <h1 class="text-dark text-center mx-auto" style="background-color: rgba(252, 253, 255, 0.8); ">List of our favorite books</h1>
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-10">
        {% for product in venues %}
        <div class="row p-2 bg-white border rounded">
          <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ product.productpic }}" alt="{{ product.title }}"></div>
          <div class="col-md-6 mt-1">
            <h2>{{ product.title }}</h2>
            <div class="d-flex flex-row">
              <div class="ratings mr-2">
                {% for _ in "x"|rjust:product.stars %}
                  <i class="fa fa-star"></i>
                {% endfor %}
              </div>
              <span>{{ product.numberreviews }}</span>
            </div>
            <p class="text-left para mb-0 text-dark">{{ product.details }}<br><br></p>
          </div>
          <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
              <h3 class="mr-1">${{ product.price }}</h3>
            </div>
            <h3 class="text-success">Free shipping</h3>
            <div class="d-flex flex-column mt-4"><button class="btn btn-secondary btn-lg" type="button" onclick="window.location.href='{{ product.amazon }}'">Buy on Amazon</button></div>
          </div>
        </div>
        {% endfor %}



      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

  {% for i in nums %}
    <li class="page-item {% if i == current_page %} active{% endif %}">
      <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
    </li>
  {% endfor %}

</ul>
</nav>

  {% endblock %}
  