{% extends "base.html" %}
{% block page-title %}Manual{% endblock %}
{% block content %}

</head>
<body class="body-manual" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ABCDE-TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'tasks' %}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manual' %}">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books' %}">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User: {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

    <!-- <nav class="navbar navbar-expand-sm bg-white navbar-light">
    
        <a class="navbar-brand" href="{% url 'tasks' %}">ABCDE-TODO</a>
      
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manual' %}">Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books' %}">Books</a>
          </li>
      
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              {{request.user}}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        </ul>
      </nav> -->
      
<!-- <h6 style="text-center text-white">How to use ABCDE method</h6> -->
<main>
  <h1 class="h1_manual text-dark">How Does the ABCDE Method Function?</h1>
  <br>
<p class="p-manual text-dark" >The ABCDE method serves as a potent technique for setting priorities, a practice regularly employed by managers and team members. Thanks to its simplicity and effectiveness, you have the potential to boost your efficiency within your professional domain. Below, you will find an explanation of what falls under each letter:</p>

<h3>A-Tasks: Highest Priority</h3>
<p class="p-manual text-dark">These tasks hold utmost importance and require immediate attention. Neglecting them could result in severe consequences. Examples include handling payments with impending deadlines or ensuring timely parcel deliveries.</p>

<h3 class="h3_manual text-dark">B-Tasks: Recommended Tasks</h3>
<p class="p-manual text-dark">Tasks in this category require attention but not necessarily at this very moment. They can be incorporated into your weekly or daily planning. For instance, scheduling a meeting with a colleague to discuss work-related matters.</p>

<h3 class="h3_manual">C-Tasks: Consequence-Free Tasks</h3>
<p class="p-manual text-dark">No urgency surrounds tasks in this category. You undertake these tasks because they bring you satisfaction. It's essential to strike a balance between your professional and personal life rather than solely focusing on work. During your leisure time, consider enjoying meals with friends or arranging gatherings with family.</p>

<h3 class="h3_manual">D-Tasks: Delegatable Tasks</h3>
<p class="p-manual text-dark">On occasion, you will come across tasks that can be assigned to someone else. Delegating these tasks allows you to concentrate on more critical matters and effectively manage your priorities.</p>

<h3 class="h3_manual">E-Tasks: Elimination</h3>
<p class="p-manual text-dark">Tasks in this category are typically irrelevant and not worth your time. Removing them is a straightforward decision. For instance, you can reduce your daily trips to the supermarket to twice a week.</p>

</main>

<script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>	  

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
 <br>

  {%endblock%}