{% extends "base.html" %}
{% block page-title %}Manual{% endblock %}
{% block content %}


<body class="body-manual" >
  <!--   Navbar
         Navbar was taken from  https://getbootstrap.com/docs/4.6/components/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'tasks' %}">ABCDE-TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'tasks' %}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manual' %}">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books' %}">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User: {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
  <!--Text Manual-->
    <main>
      <h1 class="h1_manual text-white"><span style="background-color: rgba(0,0,0,0.5);">How Does the ABCDE Method Function?</span></h1>
      <br>
    <p class="p-manual text-white" ><span style="background-color: rgba(0,0,0,0.5);">The ABCDE method serves as a potent technique for setting priorities, a practice regularly employed by managers and team members. Thanks to its simplicity and effectiveness, you have the potential to boost your efficiency within your professional domain. Below, you will find an explanation of what falls under each letter:</span></p>

    <h2 class="text-white"><span style="background-color: rgba(0,0,0,0.5);">A-Tasks: Highest Priority</span></h2>
    <p class="p-manual text-white"><span style="background-color: rgba(0,0,0,0.5);">These tasks hold utmost importance and require immediate attention. Neglecting them could result in severe consequences. Examples include handling payments with impending deadlines or ensuring timely parcel deliveries.</span></p>

    <h2 class="h3_manual text-white"><span style="background-color: rgba(0,0,0,0.5);">B-Tasks: Recommended Tasks</span></h2>
    <p class="p-manual text-white"><span style="background-color: rgba(0,0,0,0.5);">Tasks in this category require attention but not necessarily at this very moment. They can be incorporated into your weekly or daily planning. For instance, scheduling a meeting with a colleague to discuss work-related matters.</span></p>

    <h2 class="h3_manual text-white"><span style="background-color: rgba(0,0,0,0.5);">C-Tasks: Consequence-Free Tasks</span></h2>
    <p class="p-manual text-white"><span style="background-color: rgba(0,0,0,0.5);">No urgency surrounds tasks in this category. You undertake these tasks because they bring you satisfaction. It's essential to strike a balance between your professional and personal life rather than solely focusing on work. During your leisure time, consider enjoying meals with friends or arranging gatherings with family.</span></p>

    <h2 class="h3_manual text-white"><span style="background-color: rgba(0,0,0,0.5);">D-Tasks: Delegatable Tasks</span></h2>
    <p class="p-manual text-white"><span style="background-color: rgba(0,0,0,0.5);">On occasion, you will come across tasks that can be assigned to someone else. Delegating these tasks allows you to concentrate on more critical matters and effectively manage your priorities.</span></p>

    <h2 class="h3_manual text-white"><span style="background-color: rgba(0,0,0,0.5);">E-Tasks: Elimination</span></h2>
    <p class="p-manual text-white"><span style="background-color: rgba(0,0,0,0.5);">Tasks in this category are typically irrelevant and not worth your time. Removing them is a straightforward decision. For instance, you can reduce your daily trips to the supermarket to twice a week.</span></p>

    </main>

    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>	  




  {%endblock%}