{% extends "base.html" %}
{% block page-title %}Create/Update{% endblock %}
{% block content %}

<style>
   

</style>

    <body class="body_task_form">
        <div class="header_bar_task_form">
            <a href="{% url 'tasks' %}">&#8592; Back</a>
            
        </div>
        <h1 class="text-white text-center"><span style="background-color: rgba(0,0,0,0.5);">Create/Update Task</span></h1>
    <div class="card_body_task_form">
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <input class="btn btn-lg btn-block float-right login_btn_task_form" type="submit" value="Submit">
        </form>
    </div>
    
    <div class="container my-5">
    </div>
  {%endblock%}