{% extends "base.html" %}
{% block page-title %}Create/Update{% endblock %}
{% block content %}
  
    
</head>
<body class="body_task_form">
<div class="header_bar_task_form">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
    <p>this is task_form.html</p>
</div>

<div class="card_body_task_form">
    <form method="POST" action = "">
        {%csrf_token%}
        {{form.as_p}}
        <input class="btn btn-lg btn-block float-right login_btn_task_form" type="submit" value="Submit">
    </form>
</div>
<div class="container my-5">
  {%endblock%}