<!-- <!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Books</title> -->
    {% load static %}
<!DOCTYPE html>
<html class="body-homepage">
<head>
	<title>Login Page</title>
  <!-- form_html -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- login, register, delete_page -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Nunito:wght@200&family=Oswald:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- home page -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>  -->
  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->


  <style>
    .card_book{
      height: 380px;
      margin-top: auto;
      margin-bottom: auto;
      width: 1000px;
      background-color: rgba(252, 253, 255, 0.8) !important;
    
      }
      .p_book{
        color: black;
      }
</style>

{% block content %}

  </head>
  <body class="main_body">
    <nav class="navbar navbar-expand-sm bg-white navbar-light">
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'tasks' %}">ABCDE-TODO</a>
    
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks' %}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manual' %}">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
          </li>
    
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            {{request.user}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <h1 class="text-dark text-center mx-auto" style="background-color: rgba(252, 253, 255, 0.8); ">List of our favorite books</h1>





    <!-- <ul>
      {% for product in products %}
          <li>
              <h2>{{ product.title }}</h2>
              <p>{{ product.details }}</p>
              <p>Stars: {{ product.stars }}</p>
              <img src="{{ product.productpic }}" alt="Product Image">
              <a href="{{ product.amazon }}" target="_blank">Amazon Link</a>
          </li>
      {% endfor %}
  </ul> -->
  <section >
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
    {% for product in products %}
    
      
        <div class="col-md-12 col-xl-10">
          <div class="card_book card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{ product.productpic }}"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{ product.title }}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      {% for _ in "x"|rjust:product.stars %}
                        <i class="fa fa-star"></i>
                      {% endfor %}
                    </div>
                    <p class="p_book">Reviews: {{ product.numberreviews }}</p>
                  </div>
                  <p class="p_book mb-4 mb-md-0">
                    {{ product.details }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">Price: ${{ product.price }}</h4>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" type="button" onclick="window.location.href='{{ product.amazon }}'">Buy On Amazon</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}
  <footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="login_container pt-4 " style="background-color: #f1f1f1;" >
      <!-- Section: Social media -->
      <section class="mb-4 ">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/Gavriil1/CI_PP4_TD"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://github.com/Gavriil1/CI_PP4_TD">GS CD4</a>
    </div>
    <!-- Copyright -->
  </footer>
  </body>
  </html>
  
  
  