<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Position</title>
    <style>
        html {
            height: 100%;
            box-sizing: border-box;
        }
        body{
            position: relative;
            margin: 0;
            min-height: 100%;
            padding-bottom: 6.74rem;
            box-sizing: inherit;
        }
        main{
            width: 80%;
            margin: 0 auto;
            padding-top: 32px;

        }
        <h1>{
            margin: 0;
        }
        p{
            font-size: 18px;
            text-align: justify;
        }

        footer {
            background: greenyellow;
            font-size: 18px;
            padding: 35px;
            text-align: center;
            position:absolute;
            right: 0;
            left: 0;
            bottom:0;
        }

    </style>
</head>
<body>
    <main>
        <h1>Sample Website</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, optio corporis. In fuga et, qui minus tenetur voluptas commodi sed! Enim dolore aperiam soluta! A quaerat voluptatem quam itaque animi!</p>
        <p>Quia nihil delectus molestias. Veniam eos ipsa eveniet saepe? Dignissimos iusto, nisi accusantium enim sed amet ut. At, odio minima! Laboriosam magni, veritatis molestiae tempora minus ratione? Maxime, rerum veniam.</p>
        <p>Magni non nobis maxime laborum, minus soluta at culpa harum officia earum iure quas voluptas eius in explicabo, iusto id rerum minima quisquam fugit ab veritatis cumque quis? Consequuntur, illo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dicta sed, alias, quos sint blanditiis est distinctio architecto, laudantium eos quas tenetur explicabo repellendus quisquam? Voluptas odit officiis velit eaque.</p>
        <!-- <p>Tenetur, eius quo. Quisquam veritatis nesciunt cum laboriosam? Dolor sint ab amet quae nesciunt! Nihil, perferendis eos impedit pariatur facere est temporibus! Quae vel provident quos ab, necessitatibus cum distinctio.</p>
        <p>Quisquam nesciunt, repudiandae impedit inventore suscipit odio dicta ipsum earum maiores ex culpa omnis consequuntur alias fugit mollitia tenetur eligendi neque ratione veniam voluptatum, eaque ullam! Harum dicta ratione voluptatibus?</p>
        <p>Quia facere, velit fugit a qui ipsum aperiam architecto sequi vel autem, voluptatibus eius! Iusto aperiam dolores corporis a? Rerum culpa voluptatibus tempora voluptates eius. Optio hic maxime doloremque dolorem?</p>
        <p>Natus porro praesentium recusandae, nostrum excepturi quaerat corrupti, illum ducimus facere fugiat placeat deleniti corporis mollitia iusto eaque? Quaerat atque cumque sunt tempore dolorem enim expedita animi nobis aperiam quos.</p>
        <p>Delectus, molestias velit repudiandae ea aspernatur incidunt nisi natus veritatis at laboriosam eveniet illo iure blanditiis impedit nobis non repellendus molestiae necessitatibus ducimus debitis consequuntur beatae. Fugit accusantium minus cumque?</p>
        <p>Quo doloremque illo aut expedita quos consectetur officiis, eveniet aperiam optio libero dolorum itaque pariatur recusandae eos repellendus possimus? Deserunt harum blanditiis dolorum quisquam rem cupiditate eos ullam quae quia!</p>
        <p>Delectus, illum expedita. Dolorum cumque tenetur, beatae alias sint eius fuga eos sunt necessitatibus doloribus sit quidem numquam adipisci omnis voluptates ipsa! Hic sed iusto illo laborum harum eveniet dolore.</p>
        <p>Possimus recusandae a autem repellat quis facilis odio animi, illo nihil adipisci necessitatibus quos molestiae aliquam inventore velit dignissimos, assumenda vitae quae doloremque. Unde consequuntur sapiente minus, mollitia expedita harum?</p>
        <p>Totam esse similique veniam quod maiores libero a obcaecati expedita impedit fugiat eos ex, ut voluptate nemo minima asperiores pariatur quis. Quibusdam ducimus cupiditate optio minus. Quia delectus fugit facilis?</p>
        <p>Sint minima magnam quam aliquid eius neque amet eaque repudiandae architecto ad veritatis eos illum ab eum, incidunt delectus? Eum rem maxime exercitationem laborum, fugit vel odit ipsam repudiandae non.</p>
        <p>Repellat nam dignissimos eveniet voluptatum perferendis asperiores, consequatur atque temporibus saepe nostrum maxime alias provident eius veritatis? Pariatur sed, quasi exercitationem esse voluptatum iusto maxime architecto earum distinctio, sit non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos, excepturi neque magnam architecto, dolor nesciunt quae exercitationem autem atque ea, eum mollitia aliquam? Quaerat doloribus ut dolor ab esse!</p>
        <p>Nulla voluptates accusamus culpa minus ad laboriosam perspiciatis, commodi odit temporibus corrupti in labore eaque doloremque sit rem illo harum explicabo unde aliquam ipsum? Odio officiis enim sit sunt eligendi.</p>
        <p>Delectus, laborum inventore corrupti cumque consequatur pariatur repellat beatae perferendis quae? Esse nobis distinctio, eaque exercitationem eius impedit error sint nihil, voluptatibus quam odit facere, natus beatae tempore nemo. Vitae?</p>
        <p>Nemo obcaecati, maxime quae nam consectetur quam fugiat laborum iusto beatae quibusdam nihil, quasi sed vel corrupti accusamus eligendi enim totam nulla, possimus fugit! Natus ea asperiores perferendis reprehenderit repudiandae.</p>
        <p>Dolor, porro corrupti! Illum modi sequi consequatur cumque enim eligendi laboriosam obcaecati adipisci accusamus sint doloribus, dicta similique dignissimos quidem minima esse suscipit eos! Commodi sunt dolor a aliquam obcaecati.</p>
        <p>Magnam quos necessitatibus excepturi iste velit adipisci a ipsam voluptates, illum enim illo ad esse, asperiores eligendi consectetur. Obcaecati, sunt? Consequuntur soluta necessitatibus ad laboriosam veritatis nam repellat omnis libero.</p>
        <p>Fugiat aliquid ducimus nesciunt quidem quae consectetur, nihil doloribus, error facilis tempore sint reprehenderit similique hic molestiae provident ratione ab quisquam natus? Unde porro voluptatibus aut deserunt dolor. Reiciendis, ab.</p>
        <p>Ullam quia cum, saepe officia asperiores, voluptatem tenetur ea molestiae quis fugiat reprehenderit, ipsa distinctio esse consectetur adipisci libero! Voluptate excepturi dolorum voluptatibus accusamus nisi magni natus dignissimos alias eveniet.</p>
        <p>Voluptatum maiores assumenda fugit fugiat ullam quibusdam, esse magni, modi distinctio neque accusamus adipisci commodi at alias! Eaque, ratione expedita enim nobis quam iusto, recusandae vero ab esse odit facere.</p>
        <p>Mollitia exercitationem odio, minima nemo rem nesciunt dolor deserunt facere in, vero numquam quos labore beatae animi voluptas quas iusto esse similique aperiam cum ad debitis! Natus minus quasi nihil!</p>
        <p>Atque blanditiis quaerat minus? Corporis hic veritatis repudiandae explicabo iure commodi dignissimos. Expedita magnam cum aperiam, veniam animi explicabo pariatur officiis! Odit id quis totam, dolorem pariatur iste excepturi sed.</p>
        <p>Voluptate fugit a dolore sit aut, laborum, error omnis ducimus iste voluptatem ratione similique id nihil odit consequatur consequuntur incidunt libero vel esse molestiae quam sapiente? At, architecto quaerat. Fugit.</p>
        <p>Ex beatae quas temporibus ipsam ea amet debitis odio tenetur quis mollitia velit laboriosam praesentium quasi incidunt, voluptas dolor et magni nihil labore. Quidem iste ad culpa vitae ut ipsum.</p>
        <p>Odit asperiores laboriosam eius, perspiciatis omnis quaerat quasi obcaecati dolores ea voluptatum ipsam sint incidunt beatae nam voluptates ipsum molestias ad, ab excepturi. Et expedita eaque non officia commodi qui.</p>
        <p>Culpa doloremque perferendis amet tempora quidem iure hic facilis quos, et fugiat ratione numquam non provident voluptas architecto mollitia saepe dolor ad exercitationem accusamus id, asperiores officia sunt dolores? Aut.</p>
        <p>Dolore vitae, eligendi possimus reiciendis atque iure tenetur. Natus vel earum fuga quos quis possimus? Iste laudantium sint libero, quam corporis provident tenetur hic inventore accusantium sit vero pariatur adipisci!</p>
        <p>Autem voluptates amet quo laborum iusto numquam saepe? Sint ea fugit at sit obcaecati. In vitae vel explicabo sunt officiis magni, nobis necessitatibus optio delectus ullam natus asperiores voluptatum quos.</p>
        <p>Vero deleniti provident at expedita illo qui mollitia eum, alias consectetur, culpa commodi repudiandae cum. Reiciendis debitis aperiam voluptas expedita inventore nemo ipsum nostrum consequatur tenetur et, quam, commodi quisquam.</p>
        <p>Cumque enim quibusdam beatae cupiditate corporis facere, laborum omnis aliquam nam sequi accusamus unde eligendi, sunt quo. Provident perferendis at dolorem molestiae, voluptatibus magni dolores. Autem, blanditiis. Ex, aut atque.</p>
        <p>Veniam non suscipit laudantium sit alias pariatur tempore mollitia vel, molestiae, fuga inventore est minima rem dignissimos labore rerum modi libero quas quaerat expedita. Esse sit dicta voluptatum modi possimus.</p>
        <p>Veritatis eius numquam vel veniam sunt saepe voluptate nemo commodi consequatur quibusdam! Expedita id assumenda harum dolores autem unde cumque ullam doloribus dolorem, qui adipisci commodi deleniti beatae, laudantium mollitia!</p>
        <p>Odio delectus nemo provident? Recusandae aperiam eos quisquam, et blanditiis quis dolorem sequi dolore eligendi, nisi, voluptates illum iste magnam temporibus labore aliquam ullam quae quod in? Beatae, et dolores.</p>
        <p>Quae minima quos sunt a maiores! Omnis possimus nulla ratione dolorem similique quis? Pariatur molestiae, placeat quidem libero est natus dolores non? Ratione, totam quam dolorum sit perspiciatis libero voluptatem.</p>
        <p>Eum eius dolore provident exercitationem quod illo cupiditate perspiciatis ipsam cumque, dicta tenetur quibusdam repellendus nam, consequatur sint voluptate et odit enim. Eos odit pariatur quas reprehenderit quibusdam eum laborum?</p>
        <p>Sapiente cum illo labore fuga aut adipisci, architecto omnis error facere inventore repellat reiciendis culpa molestias sit quae totam amet similique ipsum laborum corporis nesciunt optio officiis accusantium! Beatae, non!</p>
        <p>Vitae error vero, a, consequatur placeat totam repudiandae assumenda eos sapiente delectus ipsum architecto officiis quasi harum deserunt? Beatae assumenda vero nam voluptate tempore praesentium corporis adipisci enim, quam non.</p>
        <p>Reiciendis incidunt omnis, voluptas aperiam voluptates id numquam atque inventore, nesciunt tempore rerum molestiae et est perspiciatis. Animi optio facere dolore placeat, perferendis minus cum voluptatibus. Soluta non culpa nemo!</p>
        <p>Incidunt nihil repellendus officiis odit laudantium mollitia vitae quaerat reiciendis! Obcaecati ipsum possimus omnis fuga alias numquam ipsam ratione illo corrupti sunt error sit fugit expedita, corporis debitis, animi molestiae.</p>
        <p>Praesentium velit illum fuga esse tempore quam quisquam neque laborum architecto ipsa! Eos sapiente perferendis consequatur alias iure, reiciendis fuga autem sit enim blanditiis error illum officia at ut sequi!</p>
        <p>Velit, sapiente nostrum vero nemo enim totam reiciendis perferendis rem, saepe, eveniet neque iure voluptatibus nesciunt id! Doloremque facilis nam aut, similique molestias illo cum, error, nisi dolorum facere possimus?</p> -->
        <footer>
            Copyright &copy; <script>document.write(new Date().getFullYear())</script>
        </footer>
    </main>
</body>
</html>